order {
    .title-menu{
        font-weight: bold;
    }

    .total{
        font-weight: bold;
    }
    .product{
        font-size: 1.25rem !important;
    }
    .delivery-method{
        font-style: italic;
    }
}
