<ion-header>

  <ion-navbar >
    <ion-title>Restaurantes favoritos</ion-title>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>


</ion-header>


<ion-content>
  <div class="ionPWA">
    <ion-card *ngFor="let restaurant of restaurants">
      <ion-card-content>

        <button float-right (click)="deleteFavoriteRestaurant(restaurant.id)" class="buttonHeart">
          <ion-icon color="primary" name="heart" class="heart"></ion-icon>
        </button>
        <div (click)="goToDetails(restaurant)">

          <h1>{{restaurant.restaurant.name}}</h1>
          <br>
          <h2>{{restaurant.restaurant.description}}</h2>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="no_results" *ngIf="restaurants?.length == 0" text-center padding>No tenés restaurants como favoritos
    </div>
  </div>
</ion-content>