<ion-header>

  <ion-navbar>
    <ion-title>Términos y condiciones</ion-title>
    <ion-buttons left>

      <button *ngIf="!show" ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <button *ngIf="show" ion-button icon-only (click)="backPage()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>
    TÉRMINOS Y CONDICIONES
  </h1>

  <h2> POR FAVOR, LEA ESTOS TÉRMINOS Y CONDICIONES CUIDADOSAMENTE
    ANTES DE DESCARGAR NUESTRA APLICACIÓN Y/O USAR NUESTRO SERVICIO </h2>


  Por la presente, usted confirma que leyó y entendió estos Términos y condiciones. Al
  utilizar nuestro Sitio Web y/o Aplicación y/o Servicios ofrecidos, usted acepta estos
  Términos completamente siendo estos de carácter obligatorio. Si usted no está de
  acuerdo con estos términos de uso o alguna parte de ellos, usted no debe utilizar

  nuestro Sitio Web y/o Aplicación y/o Servicios ofrecidos.

  <br>

  <h3> 1. DEFINICIONES</h3>
  1.1. “DondeComemos”: La sociedad Donde Comemos SAS
  1.2. “Aplicación”: aplicaciones de DondeComemos para móviles.

  <h3>
    2. RELACIÓN CONTRACTUAL
  </h3>
  2.1. Estos Términos y condiciones representan las bases contractuales entre
  usted y Donde Comemos, una Sociedad de Acciones Simplificadas (“SAS”),
  registrada bajo el número RL-2020-3069573-APN-DA. Los Términos y condiciones 
  aplican a su visita y uso de nuestro sitio web www.dondecomemos.com.ar y
  www.web.dondecomemos.com.ar (el “Sitio Web”), el Servicio y Aplicación, y toda 
  información, recomendaciones y/o servicios provistos a usted mediante el Sitio Web, 
  la Aplicación y el Servicio.
  2.2. Mediante el uso del Sitio Web, la Aplicación, el Servicio o servicios
  relacionados, usted acepta celebrar este contrato (el “Contrato”) con
  DondeComemos.
  2.3. A su propia discreción y sin responsabilidad, DondeComemos puede
  rescindir estos Términos y condiciones o el Contrato y todos los servicios
  en cualquier momento y con efecto inmediato, tanto completa como
  parcialmente, modificar, ajustar, limitar, discontinuar o suspender el
  Servicio, Aplicación, Sitio Web y todos los servicios en cualquier momento,
  tanto completa como parcialmente (incluyendo la disponibilidad de
  cualquier información o contenido) o rechazarle el acceso al Servicio o
  todos los servicios en cualquier momento, tanto completa como
  parcialmente, por cualquier motivo, y bloquear o eliminar la información
  relacionada, en particular su cuenta de usuario, tanto completa como
  parcialmente. Sin embargo, DondeComemos anunciará dichas medidas a
  través de una notificación en el Sitio Web o comunicándoselo a usted.
  Adicionalmente, DondeComemos puede pedirle que acepte una versión
  modificada de estos Términos y condiciones inmediatamente. La
  continuación de su uso del Servicio o Aplicación o Sitio Web luego de que
  DondeComemos le notifique y/o comunique los cambios constituye la
  aceptación de los cambios.
  2.4. Información personal será recolectada y procesada en relación al Servicio
  en concordancia con nuestras políticas de privacidad. Al aceptar estos Términos 
  y condiciones, también reconoce y acepta nuestra política de privacidad.
  <h3>
    3. LOS SERVICIOS
  </h3>
  3.1. La Aplicación, que puede ser descargada e instada en su teléfono celular
  (celular inteligente), y el Sitio Web de DondeComemos le permite acceder a
  información específica de restaurantes, colocar pedidos de comida o bebida

  y reservar una mesa en algunos de los restaurantes (“Restaurantes
  Participantes”).
  3.2. Con la Aplicación o desde el Sitio Web, usted puede buscar y ordenar/pedir
  comida y bebida, o hacer una reserva de mesa en un Restaurante
  Participante. Su pedido y/o reserva activa un proceso en el Restaurante
  Participante que le provee información, incluyendo su información personal
  y/o su pedido y/o datos de su reserva. En consecuencia, usted autoriza a
  DondeComemos a revelarle sus pedidos, información personal y datos de
  reserva a los Restaurantes Participantes y procesarlos.
  3.3. DondeComemos pasa su pedido y/o reserva al Restaurante Participante, y
  lo establece en nombre y a cuenta del Restaurante Participante. Todo este
  proceso de intermediación prestado por DondeComemos, el Sitio Web y la
  Aplicación se denominará en lo sucesivo como el “Servicio”. El Servicio es
  solo para uso privado no comercial.
  3.4. Los Restaurantes Participantes prestan sus servicios gastronómicos en su
  propio nombre y por cuenta propia. Los Restaurantes Participantes de
  ninguna manera actúan para o en nombre de DondeComemos. En
  consecuencia, usted entra en contacto con el Restaurante Participante, en
  vez de con DondeComemos.
  3.5. DondeComemos en sí mismo no provee comida o bebida o servicios de
  gastronomía en ninguna de sus variantes.
  3.6. Los servicios de gastronomía (incluyendo pedidos, pagos y reservas) están
  sujetos a un acuerdo entre usted y el Restaurante Participante. Estos Términos y 
  condiciones solo son aplicables a los servicios provistos por DondeComemos, no
  siendo aplicables al servicio de gastronomía que usted contratará con uno o 
  más Restaurantes Participantes. Cada Restaurante Participante es responsable 
  frente a los usuarios de sus servicios por el cumplimiento de las prestaciones
  comprometidas, no siendo DondeComemos responsable en ningún aspecto de tales
  prestaciones.
  <h3>
    4. CUENTA DE USUARIO

  </h3>
  4.1. Para poder hacer uso de nuestro Servicio (en particular, hacer un pedido o
  realizar una reserva) utilizando la Aplicación o Sitio Web de
  DondeComemos, usted debe en primer término registrarse y crear una cuenta de
  usuario. Durante el proceso de registro se requerirá que provea información
  personal (incluyendo su nombre, apellido, número de celular y casilla de
  email). Luego, podrá establecer una contraseña para su cuenta de usuario
  personal.
  4.2. Cada cuenta de usuario está asociada con una persona humana específica.
  DondeComemos guarda su información en su cuenta de usuario. La cuenta
  de usuario combina información sobre usted a fin de que usted y
  DondeComemos puedan comprender y administrar mejor sus derechos y
  obligaciones.
  4.3. Las cuentas de usuario no pueden transferirse.
  4.4. Usted no puede abrir más de una cuenta de usuario.
  4.5. Usted garantiza que la información que provee a DondeComemos es
  correcta, completa y actualizada.

  4.6. Usted también está obligado a mantener su información de usuario
  actualizada, correcta y completa en todo momento. Por favor, use la
  herramienta de actualización en su cuenta de usuario para hacer cualquier
  cambio necesario. Si su información deja de ser correcta, completa o
  actualizada, o si la comunicación con usted es virtualmente imposible
  debido a información de contacto desactualizada, incorrecta o incompleta,
  es posible que no podamos brindarle los Servicios; en particular, es posible
  que usted no pueda acceder o usar el Servicio, o DondeComemos lo
  discontinuará, finalizará o suspenderá.
  4.7. Usted es responsable de toda la actividad en su cuenta de usuario y usted
  está obligado a mantener su nombre de usuario y contraseña seguras y
  secretas en todo momento.
  4.8. DondeComemos tiene derecho a verificar la información que usted ha
  proporcionado en cualquier momento y a negarse a proporcionarle el
  Servicio o permitirle usar la Aplicación o Sitio Web sin brindar una razón.
  <h3>

    5. CIERRE DE SU CUENTA DE USUARIO

  </h3>
  5.1. En cualquier momento, usted puede pedir a DondeComemos que cierre su
  cuenta de usuario con efecto inmediato. La finalización de su acceso a su
  cuenta de usuario no siempre o automáticamente elimina toda la
  información relacionada. Por favor vea nuestras políticas de privacidad.
  5.2. Adicionalmente, nos reservamos el derecho de eliminar su cuenta de
  usuario en cualquier momento.
  <h3>
    6. USO DEL SERVICIO
  </h3>
  6.1. Usted debe tener al menos 18 años de edad para usar el Servicio, la
  Aplicación o el Sitio Web y crear una cuenta de usuario. Usted confirma que
  es un individuo legalmente autorizado a celebrar un contrato vinculante.
  6.2. En particular, usted se compromete a lo siguiente:

  * Usted utilizará el Servicio, Aplicación o Sitio Web solo con fines
  privados, no comerciales, y no los transmitirá a terceros.
  * Usted no permitirá o habilitará a terceras partes a usar su cuenta de
  usuario.
  * Usted no asignará, transferirá o hará accesible su cuenta de usuario
  a ninguna otra persona.
  * Usted no utilizará la cuenta de un tercero.
  * Usted cumplirá con toda la legislación pertinente cuando use el
  Servicio, Aplicación o Sitio Web, y utilizará el Servicio, Aplicación o
  Sitio Web solo para fines legales.
  * Usted no utilizará el Servicio, Aplicación o Sitio Web para causar
  molestia o inconveniencias.
  * Usted no impedirá el correcto funcionamiento del Servicio,
  Aplicación o Sitio Web.
  * Usted no dañará el Servicio, Aplicación o Sitio Web de forma o
  manera alguna.
  * Usted mantendrá la contraseña de su cuenta de usuario segura y
  confidencial.
  * Usted nos proveerá con cualquier prueba de su identidad que
  consideremos razonable.

  6.3. En particular, DondeComemos se reserva el derecho de finalizar el Servicio
  o uso de la Aplicación y/o Sitio Web inmediatamente si usted no cumple
  con todas las obligaciones detalladas precedentemente.
  6.4. Usted es responsable del establecimiento y funcionamiento del acceso a la
  red de datos requerido para el uso de el Servicio, Aplicación y Sitio Web, y de
  cualquier costo relacionado. El acceso a y/o el uso de el Servicio,
  Aplicación o Sitio Web puede incurrir en tarifas de datos y conexión de su
  proveedor de red; por ejemplo, pagos por los cuales usted es el
  responsable.
  6.5. Usted es responsable de la adquisición y actualización del hardware y los
  dispositivos compatibles necesarios para acceder, actualizar y usar el
  Servicio, la Aplicación y el Sitio Web. DondeComemos no garantiza que el
  Servicio, la Aplicación y el Sitio Web funcionarán en el hardware o
  dispositivos en cuestión. Además, el Servicio, la Aplicación o el Sitio Web
  pueden experimentar problemas y retrasos causados por el uso de internet
  y medios electrónicos de comunicación.
  6.6. Además, usted es responsable de asegurar que usted ha descargado la
  Aplicación correcta para su dispositivo. DondeComemos no está obligada a
  continuar con el soporte de versiones antiguas o en todo caso asegurar su
  funcionamiento o que estén libre de errores, en particular en el lanzamiento
  de nuevas versiones de la Aplicación. Usted debe siempre actualizarse a la
  última versión de la Aplicación, en particular para hacer uso de nuevas
  funcionalidades.
  6.7. En particular, DondeComemos no se hace responsable si usted no tiene
  acceso a la red de datos o a dispositivos compatibles, o si descarga la
  versión equivocada de la Aplicación para su dispositivo móvil.
  <h3>
    7. PAGOS

  </h3>
  7.1. La Aplicación, Sitio Web y el Servicio pueden usarse de manera gratuita.
  DondeComemos se reserva el derecho de introducir un pago/cuota para el
  uso del Servicio, la Aplicación y/o Sitio Web. Si DondeComemos decidiese
  introducir dicho pago/cuota, le notificará a usted por adelantado y le dará la
  oportunidad de finalizar el Contrato.
  7.2. Usted sabe y entiende que al hacer uso de la Aplicación y aceptar las ofertas 
  de los Restaurantes Participantes (en particular, hacer un pedido) a través de 
  la Aplicación y/o el Sitio Web incurrirá en costos.
  7.3. El precio de los ítems ofrecidos por los Restaurantes Participantes (por
  ejemplo, comida y bebida) pueden encontrarse en la Aplicación y Sitio Web.
  Estos precios son fijados por los restaurantes en cuestión y son
  cambiados/actualizados con una cierta regularidad. Es su responsabilidad
  verificar los precios actuales de los ítems de los restaurantes en cuestión.

  <h3>
    8. LICENCIA Y RESTRICCIONES

  </h3>
  8.1. Siempre que usted cumpla con estos Términos y condiciones en su
  totalidad, DondeComemos le otorga una licencia limitada, no exclusiva,
  revocable e intransferible que no puede sublicenciarse para: (i) acceder a la
  Aplicación y el Sitio Web y usarlos en sus dispositivos en conexión con el
  uso del Servicio; y (ii) acceder a todo el contenido, información y
  material relacionado disponible a través de la Aplicación y el Sitio Web y
  usarlo con fines privados, no comerciales. DondeComemos conserva todos
  los derechos no expresamente otorgados aquí.

  8.2. Lo siguiente no está permitido: (i) eliminar referencias a derechos de autor,
  marcas registradas u otros derechos de propiedad intelectual de cualquier
  componente de la aplicación; (ii) reproducir, modificar, vender, licenciar,
  alquilar, vender, revender, transferir, divulgar o mostrar públicamente,
  transmitir, enviar o explotar la Aplicación y/o Sitio Web sin el consentimiento
  expreso de DondeComemos; (iii) descompilar o realizar ingeniería inversa a
  la Aplicación y/o Sitio Web más allá de los límites legalmente permitidos;
  (iv) desarrollar o instalar programas o scripts para raspar, indexar,
  encuestar o extraer información, o limitar o inhibir indebidamente la
  funcionalidad de aspectos de la Aplicación y/o Sitio Web; (v) intentar
  obtener acceso no autorizado a un componente de la Aplicación o Sitio
  Web y sus sistemas o redes relacionados.
  8.3. El Servicio, la Aplicación y el Sitio Web y todos los derechos sobre estos
  son y seguirán siendo propiedad de DondeComemos.
  8.4. Ni estos Términos y condiciones ni el uso del Servicio le otorgará a usted
  ninguno de los siguientes derechos: (i) a o en conexión con, el Servicio, la
  Aplicación o el Sitio Web, con la excepción de la licencia limitada detallada
  más arriba; o (ii) a usar o hacer referencia al nombre, logotipos, marcas o
  otras marcas distinguidas de DondeComemos.
  8.5. Sin embargo, el Servicio, la Aplicación y el Sitio Web pueden hacerse
  accesibles o utilizarse en conexión con servicios y/o contenido de terceros
  (incluido los anuncios). Usted reconoce que pueden aplicarse otros
  términos de uso y disposiciones de protección de datos a este respecto.
  DondeComemos no se hace responsable de ningún bien, servicio o
  contenido de terceros.

  <h3>
    9. CONTENIDO DE USUARIO

  </h3>
  9.1. A su exclusivo criterio, DondeComemos puede permitirle a usted enviar,
  cargar, publicar o poner a disposición de DondeComemos, los
  Restaurantes Participantes y/u otros usuarios texto, audio y/o contenido e
  información a través de la Aplicación y/o Sitio Web; por ejemplo,
  comentarios o valoraciones sobre el servicio, comida y bebida, u otros
  ítems o servicios, el Servicio y consultas de soporte (“Contenido de
  Usuario”). Usted continuará siendo el propietario/dueño de todo el
  Contenido de Usuario que envíe o que de otra manera ponga a disposición.
  9.2. Sin embargo, usted le otorga a DondeComemos una licencia global,
  irrevocable, transferible y gratuita, sub-licenciable y sin restricciones en
  términos de contenido o tiempo, a todo el Contenido de Usuario, en
  particular para usar, duplicar, comercializar, alterar, publicar, divulgar,
  exhibir en público y de cualquier otro modo usar en todos los formatos y en
  todos los canales de venta, independientemente de si estos existen
  actualmente y/o se conocen, o si emergerán o conocerán en el futuro.
  9.3. Usted es responsable de asegurar que: (i) usted es el propietario único y
  exclusivo de todo el Contenido de Usuario, o posee todos los derechos,
  licencias, permisos y autorización necesarios para otorgarle a
  DondeComemos la licencia mencionada anteriormente al Contenido de
  Usuario; y (ii) ni el Contenido de Usuario en sí mismo ni el acto de enviarlo,
  cargarlo o divulgarlo, incluido el uso del Contenido de Usuario por parte de
  DondeComemos, viola o ignora los derechos de propiedad intelectual u
  otros derechos de terceros, derechos de publicación, derechos personales

  o derechos de privacidad de datos de terceros, o podrían considerarse una
  violación de las leyes o regulaciones aplicables.
  9.4. Usted se compromete a no colocar, enviar, cargar, transferir, publicar o
  hacer disponible cualquier Contenido de Usuario que sea ofensivo,
  difamatorio, grosero, violento, obsceno, pornográfico o de cualquier otra
  manera objetable o ilegal, según lo juzgue DondeComemos a su propia
  discreción, independientemente de si el Contenido de Usuario está
  protegido por la ley. A su propia discreción, DondeComemos tiene el
  derecho a verificar, monitorear y eliminar Contenido de Usuario sin
  notificación. Sin embargo, DondeComemos no está obligado a verificar,
  monitorear o eliminar Contenido de Usuario.

  <h3>
    10. INDEMNIZACIÓN

  </h3>
  10.1. Usted se compromete a indemnizar a DondeComemos, elementos,
  gerentes, empleados, contra todos los reclamos, costos, daños, pérdidas y
  reclamos de responsabilidad (incluidos los honorarios y gastos legales)
  resultantes o en conexión con una violación de cualquier disposición de
  estos términos de uso (Términos y condiciones), disposiciones legales o
  derechos de terceros, incluidos los de los Restaurantes Participantes, por
  usted, o de o en relación con su uso del Servicio, la Aplicación y/o el Sitio
  Web.

  <h3>
    11. EXCLUSIÓN DE GARANTÍAS
  </h3>
  11.1. Quedan excluidas todas las garantías de DondeComemos, en particular las
  relacionadas con el Servicio, la Aplicación y el Sitio Web. DondeComemos
  no emite garantías de ningún tipo relacionadas con el Servicio, la Aplicación
  o el Sitio Web.
  11.2. Similarmente, DondeComemos no garantiza o emite garantías de ningún
  tipo relacionadas a la calidad o idoneidad de los servicios de los
  Restaurantes Participantes.
  11.3. El Servicio se proporciona “tal cual” y como y cuando esté disponible.
  11.4. En particular, DondeComemos no puede garantizar que el Sitio Web, su
  contenido, el Servicio o la Aplicación estén libres de errores, defectos,
  programas maliciosos o virus, o que el Sitio Web y/o la Aplicación son
  correctas, actualizadas o libres de errores.
  11.5. Además, DondeComemos no garantiza ni emite garantías de que el
  Servicio no sea interrumpido o esté libre de errores, y no emite garantías
  respecto a la confiabilidad, calidad, idoneidad o disponibilidad del Servicio,
  Aplicación o Sitio Web. Interrupciones temporarias o errores pueden surgir
  y el Servicio, la Aplicación o el Sitio Web pueden experimentar
  restricciones, interrupciones, retrasos u otros problemas.
  11.6. DondeComemos se reserva el derecho de suspender el uso del Servicio,
  Aplicación y/o Sitio Web a cualquier Restaurante Participante que dañe la
  imagen o Servicio de DondeComemos.

  <h3>
    12. LIMITACIONES DE RESPONSABILIDAD

  </h3>
  12.1. En particular, DondeComemos no puede ser considerada responsable de
  cualquier daño resultante del uso de (o incapacidad para usar) el Sitio Web,
  la Aplicación o el Servicio, incluso debido a programas maliciosos, virus,
  errores o la incompletitud de información, la Aplicación o el Sitio Web.
  12.2. DondeComemos no puede ser considerada responsable por daños a
  terceros o reclamos de terceros por daños, en particular por cualquier daño
  resultante de o en conexión con el contrato entre usted y un Restaurante
  Participante. La calidad de la comida o bebida proporcionada a través del
  uso de la Aplicación, Sitio Web o Servicio es completa responsabilidad del
  Restaurante Participante que provee el servicio. Bajo ninguna circunstancia
  DondeComemos aceptará cualquier responsabilidad por y/o en conexión
  con la comida y la bebida proporcionada por el Restaurante Participante o
  cualquier otra acción u omisión por parte del Restaurante Participante.
  Cualquier queja o reclamo relacionado con los servicios del Restaurante
  Participante o la comida o la bebida debe en consecuencia dirigirse al
  Restaurante Participante.
  12.3. Si usted contacta a DondeComemos con respecto a un contrato de servicio
  o disputa con un Restaurante Participante, DondeComemos lo remitirá a él.
  Si un Restaurante Participante contacta a DondeComemos con respecto a
  un contrato de servicio o disputa con usted, DondeComemos lo remitirá a
  usted; sin embargo, nos reservamos el derecho a proveerle al Restaurante
  Participante información sobre usted y el contrato de servicio o disputa en
  cuestión.
  12.4. DondeComemos no puede ser considerada responsable por cualquier
  pérdida de ganancias, ingreso, rentas, contratos, negocios, reputación,
  datos o información. DondeComemos no será responsable por cualquier
  pérdida o daño resultante de cualquier evento o eventos fuera de su control
  razonable. En caso de que uno o más usuarios o algún tercero inicien
  cualquier tipo de reclamo o acciones legales contra otro u otros usuarios,
  todos y cada uno de los usuarios involucrados en dichos reclamos o
  acciones eximen de toda responsabilidad a DondeComemos y a sus
  directores, empleados, representantes y apoderados.

  <h3>
    13. JURISDICCIÓN, LEY APLICABLE Y OTRAS DISPOSICIONES

  </h3>
  13.1. Estos Términos y condiciones están regidos por las leyes vigentes dentro
  del territorio de la República Argentina.
  13.2. Usted no puede transferir sus derechos y deberes bajo estos Términos y
  condiciones a un tercero sin el previo, expreso y escrito consentimiento de
  DondeComemos.
  13.3. DondeComemos puede contactarlo con respecto al Servicio, Aplicación o
  Sitio Web por medio de una notificación general o un correo electrónico a la
  dirección de correo electrónico almacenada en la información de la cuenta
  de usuario que posee DondeComemos.
</ion-content>