<ion-header class="transparent_header">
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content class="login_register main_bg" padding>
  <div class="logo" text-center margin-bottom>
    <img src="assets/img/icon.png">
    <h3 no-margin>donde comemos</h3>
    <p no-margin></p>
  </div>
  <div class="app_form" [formGroup]="form">
    <div class="ionPWA">
      <ion-list>

        <ion-item [ngClass]="{'error-field': errors.email.length>0}" no-lines>
          <ion-icon color="dark" name="ios-mail-outline" item-start></ion-icon>
          <ion-input (blur)="checkEmail()" type="email" placeholder="Email" [(ngModel)]="userRegister.email"
            formControlName="email"></ion-input>
        </ion-item>
        <ion-list>
          <ion-label *ngFor="let error of errors.email" class="error-message">{{error}}</ion-label>
        </ion-list>

        <ion-item [ngClass]="{'error-field': errors.password.length>0}" no-lines>
          <ion-icon color="dark" name="ios-lock-outline" item-start></ion-icon>
          <ion-input (blur)="checkPassword()" type="password" placeholder="Contraseña"
            [(ngModel)]="userRegister.password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item [ngClass]="{'error-field': errors.password.length>0}" no-lines>
          <ion-icon color="dark" name="ios-lock-outline" item-start></ion-icon>
          <ion-input (blur)="checkPassword()" type="password" placeholder="Repetir contraseña"
            [(ngModel)]="userRegister.passwordConfirmation" formControlName="passwordConfirmation"></ion-input>
        </ion-item>
        <ion-list>
          <ion-label *ngFor="let error of errors.password" class="error-message">{{error}}</ion-label>
        </ion-list>

        <ion-item no-lines>
          <ion-icon color="dark" name="person" item-start></ion-icon>
          <ion-input type="text" placeholder="Nombre" [(ngModel)]="userRegister.firstName" formControlName="firstName">
          </ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-icon color="dark" name="people" item-start></ion-icon>
          <ion-input type="text" placeholder="Apellido" [(ngModel)]="userRegister.lastName" formControlName="lastName">
          </ion-input>
        </ion-item>

      </ion-list>

      <button [disabled]="!isValid()" (click)="register()" ion-button block>Registrarme</button>

      <h5 style="color: white; text-align: center;">¿Ya tienes cuenta? <a (click)="toLogin()"> Inicia sesión </a></h5>

      <h5 style="color: white;">Creandote una cuenta aceptas los <a (click)="showTermsModal()">términos y condiciones</a> y <a (click)="showPrivacyModal()">políticas de privacidad</a> del sitio</h5>
    </div>
  </div>
</ion-content>