<ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
<ion-content class="background">
  <ion-item>
    <ion-label>
      Cambiar contraseña
    </ion-label>
  </ion-item>
  <ion-list no-lines="">
    <ion-item>
      <ion-icon 
        color="dark" 
        name="ios-lock-outline" 
        item-start>
      </ion-icon>
      <ion-input 
        type="password" 
        [(ngModel)]="oldPassword" 
        placeholder="Ingresá tu contraseña actual...">
      </ion-input>
      <!-- <button (click)="showPassword()" color="GrayColor" ion-button icon-only clear item-end>
          <ion-icon *ngIf="type==='text'" name="eye"></ion-icon>
          <ion-icon *ngIf="type==='password'" name="eye-off"></ion-icon>
      </button> -->
    </ion-item>
   
    <ion-item>
      <ion-icon 
        color="dark" 
        name="ios-lock-outline" 
        item-start>
      </ion-icon>
      <ion-input 
        type="password" 
        [(ngModel)]="newPassword" 
        placeholder="Ingresa tu nueva contraseña...">
      </ion-input>
      <!-- <button (click)="showPassword()" color="GrayColor" ion-button icon-only clear item-end>
          <ion-icon *ngIf="type==='text'" name="eye"></ion-icon>
          <ion-icon *ngIf="type==='password'" name="eye-off"></ion-icon>
      </button> -->
    </ion-item>

    <ion-item>
      <ion-icon 
        color="dark" 
        name="ios-lock-outline" 
        item-start>
      </ion-icon>
      <ion-input 
        type="password" 
        [(ngModel)]="confirmedNewPassword"
        placeholder="Repetí tu nueva contraseña...">
      </ion-input>
      <!-- <button (click)="showPassword()" color="GrayColor" ion-button icon-only clear item-end>
          <ion-icon *ngIf="type==='text'" name="eye"></ion-icon>
          <ion-icon *ngIf="type==='password'" name="eye-off"></ion-icon>
      </button> -->
    </ion-item>
   
  </ion-list>

  <ion-row>
    <ion-col>
      <button (click)="handleCancel()" color="dark" ion-button clear full>Cancelar</button>          
    </ion-col>
    <ion-col>
        <button (click)="handleAccept()" ion-button clear full>Aceptar</button>          
    </ion-col>
  </ion-row>
</ion-content>
