<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Políticas de Privacidad - Donde Comemos</title>
        <style type="text/css">
            p{
                padding-left: 46px;
                text-align: justify;
                text-justify: newspaper;
            }
            h1{
                text-align: center;
            }
            h2{
                padding-left:8px;
            }
            h3{
                padding-left:16px;
            }
            h5{
                padding-left:24px;

            }
        </style>
    </head>
    <body>
        <h1>
            POLÍTICAS DE PRIVACIDAD
        </h1>
        <h2>
            PARA USUARIOS Y VISITANTES DE DONDECOMEMOS
        </h2>
        <p>
            DondeComemos se compromete a proteger la privacidad de sus usuarios y visitantes.
            La siguiente política de privacidad describe la información que Donde Comemos SAS
            (“DondeComemos” o “Nosotros”) procesa y cómo utilizamos la información para
            proveer mejores beneficios a usuarios y visitantes de nuestro sitio web
            www.dondecomemos.com.ar y www.web.dondecomemos.com.ar (“Sitio Web”) y nuestra 
        aplicación móvil (la “Aplicación”).
        </p>
        <p>
            Usted reconoce esta política de privacidad y acepta el procesamiento de sus datos
            personales llevado a cabo por DondeComemos o terceras partes especificadas en
            esta política de privacidad. DondeComemos se reserva el derecho de modificar esta
            política de privacidad.
        </p>
        <p>
            Si usted tiene cualquier duda o pregunta relacionada a esta política de privacidad, por
            favor contáctese con nosotros en privacidad@dondecomemos.com.ar
        </p>
        <h3>
            1. DEFINICIONES
        </h3>
        <p>

            1.1. “Usuario” refiere a personas que visitan y/o usan el Sitio Web y/o la
            Aplicación y/o que se han registrado en DondeComemos a fin de usar
            el Servicio o para potencial uso.
        </p>
        <p>
            1.2. “Restaurante Participante” refiere a terceros que son únicamente
            responsables por los servicios gastronómicos y de los restaurantes.
        </p>
        <h3>
            2. GENERAL
        </h3>
        <p>
            DondeComemos no recolecta deliberadamente información personal de
            personas menores de 18 años de edad. La Aplicación y el Sitio Web no están
            destinados a personas menores de 18 años de edad. Si usted cree que su hijo
            menor de edad está usando la Aplicación o el Sitio Web y en consecuencia
            proveyendo a DondeComemos con información personal, por favor contáctese
            con Nosotros a privacidad@dondecomemos.com.ar. Nosotros nos
            esforzaremos por eliminar la cuenta de usuario de la Aplicación y/o el Sitio Web
            y la información personal en cuestión.
        </p>
        <p>
            La parte responsable de la información personal procesada es
        </p>
        <p>
            Donde Comemos SAS <br>
            Ciudad Autónoma de Buenos Aires, Argentina.<br>
            E-Mail: privacidad@dondecomemos.com.ar
        </p>
        <p>

            Los Restaurantes Participantes y otras compañías pueden estar involucradas
            en el procesamiento de la información en conexión con actividades en el Sitio
            Web y/o la Aplicación y/o en conexión con los servicios descritos en estas
            políticas de privacidad. Los Restaurantes Participantes y otras compañías
            perseguirán los propósitos descritos en esta política de privacidad y cumplirán
            con la ley aplicable a protección de información.
        </p>
        <p>

            Nosotros recolectamos y procesamos información personal en diferentes
            formas/maneras. La información personal es provista voluntariamente por el
            Usuario al momento de creación y/o modificación de una cuenta de usuario y
            cuando interactúa con o usa la Aplicación, Sitio Web y/o el Servicio, y a través
            de comunicación vía email con Nosotros. Para Usuarios de la Aplicación, Sitio
            Web y/o el Servicio, esto incluye la siguiente información: nombre, apellido,
            casilla de email, número de teléfono celular, contraseña, pedidos, comentarios
            sobre pedidos, valoraciones, reservas de mesa, dirección IP, ubicación
            geográfica. Los datos del Restaurante Participante incluyen nombre, dirección,
            dirección de email, contraseña, número de teléfono, datos bancarios,
            información particular de la persona humana o jurídica titular del restaurante.
        </p>
        <h3>
            3. POR QUÉ PROCESAMOS SUS DATOS PERSONALES?
        </h3>
        <h5>
            3.1. ADMINISTRAR LA APLICACIÓN, EL SITIO WEB Y HABILITARLO A
            USTED PARA EL USO DE LOS SERVICIOS DISPONIBLES EN LA
            APLICACIÓN Y EL SITIO WEB
        </h5>
        <p>

            Cuando usted visita nuestro Sitio Web, nuestros administradores
            procesan sus datos personales, incluyendo dirección IP, tipo de
            navegador, fuente de referencia al Sitio Web y la duración de la visita.
            Adicionalmente, en ciertas ocasiones su navegador puede requerirle su
            ubicación actual a fin de optimizar su experiencia de Usuario.
            Cuando usted visita y/o usa la Aplicación, Nosotros procesamos su
            información personal incluyendo datos técnicos como su dirección IP.
            Usamos estos datos para proveerle el Servicio, asegurarnos de que la
            Aplicación funciona correctamente, resolver problemas técnicos,
            proveerlo con la correcta y última versión de la Aplicación, y mejorar
            funcionalidades de la Aplicación.
        </p>
        <h5>
            3.2. SERVICIO AL CLIENTE
        </h5>
        <p>
            Cuando usted se registra como un Usuario, recolectamos su nombre,
            apellido, email, número de celular, contraseña, dirección IP y tipo de
            dispositivo.
        </p>
        <p>

        Usamos su información personal y datos de contacto para proveerle los
        servicios, para cuestiones de comunicación relacionadas a sus pedidos
        y reservas de mesa, para anunciar ofertas y hacer anuncios
        relacionados con los servicios. Nosotros usamos sus datos personales
        y datos de registro para crear y administrar su cuenta de usuario de
        DondeComemos. Nos reservamos el derecho de desactivar su cuenta
        si sospechamos que usted está usando la Aplicación o el Sitio Web
        para cometer fraude o actos ilegales, o si viola nuestros términos y
        condiciones.
        </p>
        <h5>
            3.3. DATOS PERSONALES Y RESTAURANTES PARTICIPANTES
        </h5>
        <p>
            Cuando usted hace un pedido o realiza una reserva a través de la
            Aplicación o el Sitio Web, Nosotros le proveemos al Restaurante
            Participante con la información de dicho pedido o reserva, su nombre,
            apellido y número de teléfono celular.
        </p>
        <h5>
            3.4. PROCESAMIENTO DE PAGO
        </h5>
        <p>
            Si se realiza un pedido con pago online, en ningún momento
            DondeComemos almacena los datos de la tarjeta de crédito/débito; esta
            tarea la realizan los proveedores de pagos online.
        </p>
        <h5>
            3.5. MARKETING
        </h5>
        <p>
            DondeComemos puede usar sus datos personales para enviarle a
            usted información general sobre nuevos desarrollos en
            DondeComemos. Usted puede eliminar/cancelar su suscripción a estos
            mensajes en cualquier momento.
        </p>
        <h5>
            3.6. COMPILACIÓN DE DATOS ADMINISTRATIVOS Y ESTADÍSTICOS
        </h5>
        <p>

            DondeComemos utiliza datos personales agregados sin identificar a
            ningún individuo en particular, a fin de monitorear las funcionalidades
            del Servicio más usadas, analizar patrones de uso y determinar dónde
            debemos proveer nuestros servicios y enfocar nuestros esfuerzos.
            Podemos proveer esta información a terceros con fines estadísticos y
            para análisis del sector.
        </p>
        <h5>
            3.7. COOKIES / GOOGLE ANALYTICS
        </h5>
        <p>

            
            DondeComemos usa cookies. Una cookie consiste en información
            enviada por un servidor web a un navegador web, y almacenada por el
            navegador. La información es luego enviada de nuevo al servidor en
            cada momento que el navegador solicita una página del servidor. Esto
            habilita al servidor a identificar y rastrear el navegador web. Las cookies
            nos ayudan a Nosotros a reconocer su dispositivo cuando visita el Sitio
            Web nuevamente, a analizar qué tan bien nuestro Sitio Web está
            funcionando y a ajustar nuestro contenido de tal manera que usted
            reciba información a medida de sus intereses.
        </p>
        <p>
            La mayoría de los navegadores web lo autorizan a usted a rechazar la
            aceptación de cookies o a ser notificado cuando recibe una cookie. En
            la sección de “Ayuda” o “Configuración” de la mayoría de los
            navegadores web, usted recibirá información de cómo cambiar su
            configuración de navegación web. Si usted decide desactivar y/o
            eliminar cookies, sepa por favor que puede que algunas funcionalidades 
        de DondeComemos ya no estén disponibles
        </p>
        <p>
            Además, utilizamos una herramienta llamada Google Analytics para
            recolectar y analizar información sobre el uso del Sitio Web. Google
            Analytics recolecta información como la frecuencia de sus visitas al Sitio
            Web o las páginas web que visitó antes de visitar la nuestra. Google
            Analytics utiliza cookies, las cuales son almacenadas en la
            computadora del Usuario. La información generada en relación con
            nuestro Sitio Web es utilizada para mejorar nuestro Sitio Web. Google
            almacenará esta información. Las políticas de privacidad de Google se
            encuentran disponible en http://www.google.com/privacypolicy.html
        </p>
        <h5>
            3.8. REVELACIÓN DE INFORMACIÓN
        </h5>
        <p>
            DondeComemos no revelerá información personal o datos por usted 
        suministrados a ningún tercero, a menos que la entrega de dicha
        información le sea requerida por autoridad pública competente y
        en acuerdo con la normativa de Protección de Datos Personales 
        vigente en cada momento. Sin perjuicio de esto, DondeComemos se
        reserva la facultad de revelar datos en la medida en que esto resulte
        estrictamente necesario para ejercer y defender sus derechos.
        </p>
        <p>
            Sin perjucio de esto, hace constar que, bajo acuerdo de confidencialidad,
        el personal de DondeComemos tendrá en algunos casos acceso a información/
        datos personales sobre usted en tanto ello sea necesario para el
        desarrollo de las tareas que desempeñan para DondeComemos.
        </p>
        <h5>
            3.9. NINGUNA OBLIGACIÓN DE PROPORCIONAR DATOS PERSONALES
        </h5>
        <p>
            Usted no está obligado a proveer a DondeComemos con información
            personal. Sin embargo, sin el aporte de cierta información, nos será
            imposible ofrecerle Servicios que habitualmente provee DondeComemos a
        sus usuarios.
        </p>
        <h3>
            4. SUS DERECHOS
        </h3>
        <p>
            Como Usuario, usted podría tener el derecho a información sobre su cuenta
            personal. Esto también concierne información que usted nos haya dado al
            hacer pedidos o realizar reservas de mesa a través de la Aplicación o el Sitio
            Web. Usted podrá ejercer sus derechos bajo la ley de protección de datos
            personales, por ejemplo, demandando que se le informe qué datos personales
        guarda de su persona DondeComemos, o requiriendo que sus datos personales sean
            corregidos o eliminados en cualquier momento, o solicitando que su
            información personal no sea procesada, enviando un e-mail a
            privacidad@dondecomemos.com.ar. Por favor, adjunte una copia de su tarjeta
            de identificación o pasaporte para fines de identificación.
        </p>
        <p>
            También puede actualizar sus datos personales a través de su cuenta de
            DondeComemos y revocar cualquier consentimiento que haya otorgado.
        </p>

        <h3>
            5. ALMACENAMIENTO DE DATOS
        </h3>
        <p>

            A menos que se indique lo contrario en esta política de privacidad, Nosotros
            almacenamos sus datos personales hasta que usted borre/elimine su cuenta
            de usuario con DondeComemos. Si usted desea eliminar su cuenta de usuario
            de DondeComemos o requiere que ya no usemos sus datos para prestarle
            servicios a usted, por favor contáctese con Nosotros a
            privacidad@dondecomemos.com.ar.
        </p>
        <p>

            Luego de que su cuenta de usuario haya sido eliminada, Nosotros borraremos
            sus datos personales a menos que sea requerida para cumplir obligaciones
            legales o resolver disputas.
        </p>
        <h3>
            6. SEGURIDAD
        </h3>
        <p>

            DondeComemos tomará y toma precauciones técnicas y organizacionales para
            prevenir la pérdida o el procesamiento no autorizado de su información
            personal. Para este propósito, su información personal es almacenada en
            servidores seguros; tomamos precauciones de seguridad estándar,
            económicamente razonables.
        </p>
        <p>
            Sin embargo, por más eficaces que sean nuestras precauciones de seguridad,
            ningún sistema de seguridad es infalible. No podemos garantizar la seguridad
            de nuestra base de datos o que la información que usted nos provee a
            Nosotros no será interceptada mientras está siendo transmitida a Nosotros. La
            transferencia de sus datos a DondeComemos es siempre bajo su propio riesgo.
            Le recomendamos que no comparta su contraseña con nadie.
        </p>
        <h3>
            7. CAMBIOS DE POLÍTICA DE PRIVACIDAD - COMPROMISO PERMANENTE
        </h3>
        <p>
            Nosotros podremos actualizar esta política de privacidad para dar cuenta de los
            cambios en nuestra información y procedimientos de procesamiento de datos y
            otras cuestiones. Si los cambios son significativos, le notificaremos a usted a
            través de email y lo anunciaremos en el Sitio Web antes de que entren en
            vigor. La continuación de su uso de la Aplicación y/o Sitio Web y/o el Servicio
            constituye su reconocimiento y aceptación de la política de privacidad
            actualizada. Le recomendamos a usted que visite esta página web con
            regularidad a fin de asegurarse que está de acuerdo con cualquier cambio. Sin
        perjuicio de lo expuesto, DondeComemos se compromete de manera permanente a: (a)
        designar un responsable de tratamiento de los datos personales, que será una
        persona humana integrante de su órgano de administración; (b) emplear los datos
        con la sola y estricta finalidad para la que han sido recabados; (c) abstenerse 
        de transferir por cualquier causa o título tales datos sin el previo conocimiento
        y conformidad de su/s titular/es, salvo las excepciones referidas en la cláusula 
        3.8; (d) explicar al titular, al momento de recabar sus datos, la finalidad con 
        que serán empleados e informarle que será libre de negarse a suministrarlos si no
        estuviese conforme con la finalidad para la que serán utilizados; (e) almacenar
        los datos en sistemas seguros, que cuenten con medidas de protección suficientes
        para evitar la substracción no autorizada de los datos; (f) apelar a sistemas de 
        encriptación en caso de ser necesaria la transferencia de los datos, de modo tal
        de evitar que en la transmisión se los intercepte y derive sin autorización a 
        bases de datos administradas por terceros ajenos a DondeComemos; (g) destruir
        los archivos o eliminar la información una vez que el servicio pierda vigencia y
        la finalidad con que se recabaron los datos personales pierda vigencia; (h) mantener
        su sistema de manejo de datos personales bajo permanente revisión, ajustándolo a 
        los más elevados estándares vigentes a nivel internacional; (i) cumplir con los
        reglamentos que dicte la Agencia de Acesso a la Información Pública y la Dirección
        Nacional de Protección de Datos Personales de la República Argentina.
        </p>
        <h3>
            8. SITIOS WEB DE TERCEROS
        </h3>
        <p>
            El Sitio Web y la Aplicación pueden contener vínculos a otros sitios web y/o
            aplicaciones. Nosotros no nos hacemos responsables por las políticas de
            privacidad o prácticas de otros sitios web y/o aplicaciones.
        </p>
        <h3>
            9. INFORMACIÓN DE CONTACTO
        </h3>
        <p>
            privacidad@dondecomemos.com.ar<br>
            www.dondecomemos.com.ar<br>
        </p>
        <p>
            Donde Comemos SAS<br>
            Ciudad Autónoma de Buenos Aires, Argentina.
        </p>
    </body>
</html>